*{
      box-sizing: border-box;
}
a,a:hover, a:active, a:focus{
  text-decoration: none;
}
select {
    border: 1px solid;
    outline: none;
    width: 100%;
    margin: 0px;
    padding: 21px 50px 21px 15px;
    height: 60px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-border-radius: 0px;
        font-size: 13px;
}
.slide-contact {
    width: 100%;
}
.main-tittle{
      background: url("../img/1 (3).jpg") center center repeat;
      padding-top: 172px;
position: relative;
float: right;
width: 100%;
margin: 0px 0px 100px;
    padding-bottom: 50px;
clear: both;
/*background: rgba(0,0,0,0.05);*/
    display: block;
}
.main-tittle::before{
      background: rgba(240,235,216,0.85);
      position: absolute;
content: "";
display: block;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.breadcrumb{
  clear: both;
float: left;
width: 100%;
margin: 0px;
padding: 0px;
font-size: 13px;
font-weight: 500;
color: rgba(0,0,0,0.6);
position: relative;
background-color: rgba(238, 236, 219, 0);
}
.breadcrumb::before{
  display: block;
content: "";
position: absolute;
top: -46px;
height: 1px;
width: 100%;
background: #fff;
}
.breadcrumb a {
    color: #000;
    text-decoration: none;
}
.breadcrumb .fa.default {
    display: inline-block;
    height: 14px;
    width: 1px;
    -webkit-transform: rotate(30deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(30deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(30deg);
    transform-origin: 0 0;
    transform: rotate(30deg);
    background: #000;
    top: 3px;
    position: relative;
    margin: 0px 5px 0px 10px;
}
.breadcrumb span.current {
    color: rgba(0,0,0,0.5);
}
.main-tittle-section{
  float: right  ;
width: 100%;
margin: 0px;
padding: 0px;
position: relative;
}
.main-tittle-section h1 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 0;
}
.content-full-width{
  background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  margin-bottom: 70px;
      width: 100%;
      margin: 0px;
    padding: 0px 0px 0px;
    float: left;
    position: relative;
    margin-bottom: 30px;
}
.one-half {
  margin: 0px 0px 0px 2%;
float: right;
min-height: 1px;
position: relative;
box-sizing: border-box;
  background: transparent;
border: 0;
font-size: 100%;
margin: 0;
width: 49%;
outline: 0;
padding: 0;
vertical-align: baseline;

}
.first{
  float: left;
  margin-left: 0px;
    clear: both;
}
.one-half p{
  margin-bottom: 10px;
}
.section-box{
  background: transparent;
border: 0;
font-size: 100%;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
    position: relative;
    clear: both;
}
.section-box:before {
  z-index: 1;
left: 23px;
top: 5px;
bottom: 0px;
height: 0px;
margin: auto;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-top: 7px solid;
    border-top-color: #fff;
    -webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
transition: all 0.3s linear;

}
.section-box:before, .section-box:after {
    content: "";
    pointer-events: none;
    position: absolute;
}
.services{
  background: #fff;
  margin-top: 0px;
      border-color: rgba(0,0,0,0.15);
}
.section-box:after {
    width: 60px;
    height: 60px;
    left: 0px;
    background: #89cddf;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    top: 0;
}
.services option{
      padding: 6px 6px 6px 18px;
}
.dt-sc-hr-invisible-small {
    float: left;
    width: 100%;
    margin: 40px 0px 0px;
    display: block;
    clear: both;
}
.dark-tittle{
      font-size: 30px;
      font-weight: 200;
}
.dark-tittle span{
  -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    background: transparent;
border: 0;
font-size: 100%;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
}
.part-three{
  background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
  margin: 0px 2% 0px 0px;
    float: left;
    min-height: 1px;
    position: relative;
    box-sizing: border-box;
      width: 72.5%;
}
.part-one{
  background: transparent;
border: 0;
font-size: 100%;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
  margin: 0px 2% 0px 0px;
float: right;
min-height: 1px;
position: relative;
box-sizing: border-box;
      width: 23.5%;
}
.datapicker{
  -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
        font-size: 13px;
        border: 1px solid;
    padding: 21px 50px 21px 15px;
    height: 60px;
    display: block;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
        color: #333333;
        background: #fff;
            border-color: #f0ebd8;
}
.show-time{

    text-transform: inherit;

    line-height: normal;
    display: inline-block;
    margin: 10px 0px 0px;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 1;

  margin-top: 50px;
  float: left;
  background: #89cddf;
  font-size: 16px;
padding: 16px 30px;
    color: #fff;
}
.available-time{
  background: transparent;
border: 0;
font-size: 100%;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
  width: 100%;
    float: left;
    margin-top: 50px;
}
.available-time h6{
  font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.5px;
}
ul.time-table {
    display: block;
    float: left;
    list-style-type: none;
    width: 100%;
}
ul.time-table > li {
  box-sizing: border-box;
  display: block;
  float: right;
  margin-bottom: 20px;
  margin-left: 2%;
  padding: 15px 20px 0;
  text-align: center;
  width: 15%;
  background: rgb(240, 235, 216);
}
ul.time-table > li {
    position: relative;
}
ul.time-table > li:before {
    position: absolute;
    bottom: auto;
    top: 0;
    right: 0;
    left: 0;
    margin: 0px auto;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 10px solid #fff;
}
ul.time-table > li ul, ul.time-table > li > span {
    position: relative;
    z-index: 1;
}
ul.time-table > li span {
    display: block;
    -webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
transition: all 0.3s linear;
}
ul.time-table > li ul.time-slots {
    display: inline-block;
    margin: 15px 0 10px;
    padding: 5px 0 0;
    text-align: center;
}
ul.time-table > li ul.time-slots > li {
    border: medium none;
    clear: both;
    display: block;
    float: left;
    margin: 0 auto 5px;
    padding: 0;
    width: 110px;
}
ul.time-table > li ul.time-slots > li a {
    background: #fff;
    color: #4d4d4d;
    display: inline-block;
    min-width: 56px;
    padding: 5px 18px;
    width: 100%;
}
.personal-info{
  background: transparent;
border: 0;
font-size: 100%;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
  width: 100%;
float: left;
display: block;
}
.inp-design{
  -webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
transition: all 0.3s linear;
border: 1px solid;
padding: 21px 50px 21px 15px;
height: 60px;
display: block;
margin: 0px;
width: 100%;
box-sizing: border-box;
-webkit-appearance: none;
-webkit-border-radius: 0;
    color: #333333;
        background: #fff;
            border-color: rgb(240, 235, 216);
}
.choose-payment{
  background: transparent;
border: 0;
font-size: 100%;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
    display: block;
}
.personal-info textarea {
  border: 1px solid;
padding: 21px 50px 21px 15px;
line-height: normal;
width: 100%;
float: left;
    margin-bottom: 30px;
        border-color: rgb(240, 235, 216);
            color: #333333;
            height: 190px;
overflow: auto;
}
.send-appointment{
  float: left;
border: 0px;
padding: 15px 24px;
color: #fff;
background-color: #89cddf;
font-weight: 500;
}
input.is-danger, select.is-danger, textarea.is-danger{
    border: 1px solid red;
}

.help{
  color: red;
}
