body, html {
    direction: rtl;
    overflow-x: hidden;
}
body{
  padding: 0px;
}
.navbar-pho{
  /*background: url(../img/2.jpg)center center repeat;*/
  width: 100%;
position: absolute;
background: transparent;
z-index: 100;

}
.nav li {
    display: inline;
    padding: 0px 8px;
        transition: .6s;
}

.stick {
    /*background-color: #8fbc8f;*/
    padding-bottom: 19px;
    background: transparent;
  width: 100%;
}

.nav>li>a {
    display: inline;
        color: #000;
}
.nav > li > a:focus, .nav > li > a:hover{
  background-color: rgba(255, 255, 255, 0);
  color: #89cddf;
}
.nav-2 li a:hover , .nav-2 li a:focus{
  text-decoration: none;
}
.nav {
    padding: 35px 0px;
    position: sticky;
        transition: .6s;
    position: -webkit-sticky;
    /*transition: all .1s linear .1s;*/
    /*border-bottom: 2px solid #fff;*/
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
        transition: .6s;
    background-color:rgb(240, 235, 216);
    top: 0;
    z-index: 100;
        padding: 12px;
    border-top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);

}
.no-padding{
  padding: 0px;
}
.text{
  transform: translateX(10px) translateY(50px);
  transition: all .25s linear .25s;
  position: absolute;
top: 50%;
background: #fff;
}
.logo{
  float: left;
  margin-left: 15px;
}
.logo img{
  width: 130px;
}
.footer{
      background-color: rgba(240,235,216, 1);
      width: 100%;
      min-height: 300px;
}
.footer h3{
  font-weight: 100;
float: right;
width: 100%;
}
.foot-detail{
  width: 100%;
}
.foot-detail p{
  line-height: 35px;
}
.foot-detail ul{
  list-style-type: none;
  padding-right: 0px;
}
.foot-detail ul li{
  line-height: 35px;
}
.foot-detail ul li a{
  color: #000;
}
.foot-detail ul li a:active,.foot-detail ul li a:hover,.foot-detail ul li a:focus{
  color: red;
  text-decoration: none;
}
.form-sub{
      margin-top: 10px;
}
.form-sub input{
  direction: ltr;
  float: right;
  border: 0px;
    padding: 17px 20px 21px 17px;
direction: rtl;
}
.form-sub .inp-send{
background-color: #89cddf;
color: #fff;
    font-weight: 500
}
.inp-first{
  width: 165px;
}
.social ul{
  list-style-type: none;
}
.social ul li{
  display: inline;
}
.social ul li a{
  color: #000;
}
.social ul li a i{
  font-size: 20px;
  padding: 0px 8px;
}
.social ul li a:active,.social ul li a:hover,.social ul li a:focus{
  color: red;
  text-decoration: none;
}
.footer-2{
background-color: rgba(137,205,223, 1);
text-align: center;
    padding: 23px 0px;
}
.footer-2 p{
  color: #fff;
}
.navbar-nav{
  float: right;
}
.displaaay{
  display: block;
}
.navbar-foo{
  display: none;
}
.demo-des{
  z-index: 100;
      border: 0px;
          background-color: #f0ebd8;
}
.demo-des i{
font-size: 33px;
padding: 2px;
}
.panel-collapse{
  background-color: #f0ebd8;
}
.not-big{
  display: none;
}
.not-small{
  display: block;
}
.loading-message{
  color: white;}
@media screen and (max-width:768px) {
  .demo-des .panel-heading{
        background: #f0ebd8;
            height: 62px;
  }
  .demo-des .panel-body{
        padding: 0px;
  }
  .nav-2{
    list-style-type: none;
    text-align: center;
        padding-right: 2px;
  }
  .not-small{
    display: none;
  }
  .not-big{
    display: block;
  }
  .stick{
    padding: 0px;
  }
.navbar-pho{
  display: none;
}
.navbar-foo{
  display: block;
}
.nav-2 li{
  padding: 12px 0px;
  margin: 6px;
}
.nav-2 li a{
  padding-right: 8px;
  color: #2b95a9;
  margin: auto;
  font-weight: 100;
  font-size: 17px;
}
.sticky{
      background-color: rgb(255, 255, 255);
      padding: 0px;
      border-bottom: 0px;
}
.text-menu{
  font-size: 29px;
text-align: left;
}
.text-menu img{
    width: 133px;
}
.border-for-li{
  border-bottom: 1px inset;

}
.demo-des .panel-collapse{
  background-color: #fff;
  width: 100%;
}
}
