.slide-contact {

    width: 100%;

}
.main-tittle{
      background: url("../img/1 (3).jpg") center center repeat;
      padding-top: 172px;
position: relative;
float: right;
width: 100%;
margin: 0px 0px 100px;
    padding-bottom: 50px;
clear: both;
/*background: rgba(0,0,0,0.05);*/
    display: block;
}
.main-tittle::before{
      background: rgba(240,235,216,0.85);
      position: absolute;
content: "";
display: block;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.breadcrumb{
  clear: both;
float: left;
width: 100%;
margin: 0px;
padding: 0px;
font-size: 13px;
font-weight: 500;
color: rgba(0,0,0,0.6);
position: relative;
background-color:rgba(238, 236, 219, 0);
}
.breadcrumb::before{
  display: block;
content: "";
position: absolute;
top: -46px;
height: 1px;
width: 100%;
background: #fff;
}
.breadcrumb a {
    color: #000;
    text-decoration: none;
}
.breadcrumb .fa.default {
    display: inline-block;
    height: 14px;
    width: 1px;
    -webkit-transform: rotate(30deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(30deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(30deg);
    transform-origin: 0 0;
    transform: rotate(30deg);
    background: #000;
    top: 3px;
    position: relative;
    margin: 0px 5px 0px 10px;
}
.breadcrumb span.current {
    color: rgba(0,0,0,0.5);
}
.main-tittle-section{
  float: right  ;
width: 100%;
margin: 0px;
padding: 0px;
position: relative;
}
.main-tittle-section h1 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 0;
}


.box-blog{
  min-height: 400px;
padding: 0px;
border: 1px solid #8fddf5;
    margin-bottom: 30px;
}
.img-bloge img{
  width: 100%;
}
.entry-details{
  clear: both;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0 0;
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    text-align: center;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.entry-tittle{
      padding: 0 20px;
      background: transparent;
border: 0;
font-size: 100%;
margin: 0;
outline: 0;
text-align: center;
    margin-top: 18px;
padding: 0;
vertical-align: baseline;
}
.entry-tittle h4{
  font-size: 16px;
  text-transform: inherit;
margin-bottom: 10px;
font-weight: bold;
}
.entry-tittle a{
      color: #89cddf;
      text-decoration:none;
}
.entry-body{
      padding: 0 20px;
      margin: 10px 0px 5px;
float: left;
clear: both;
width: 100%;
background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
}
.entry-body p{
      margin-bottom: 10px;
      background: transparent;
border: 0;
    line-height: 25px;
font-size: 100%;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
}
.link-entry{
  position: relative;
letter-spacing: 0.5px;
overflow: hidden;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
    /*padding-right: 14px;
    margin-bottom: 35px;
margin-top: 15px;*/
font-size: 12px;
padding: 13px 20px;
    background: #89cddf;
    /*font-size: 12px;*/
        text-transform: inherit;
        padding: 8px 15px;
        line-height: normal;
        display: inline-block;
        margin: 10px 0px 0px;
        cursor: pointer;
        outline: none;
        position: relative;
        z-index: 1;
        /*background: rgba(0, 0, 0, 0.05);*/
        color: #000;
        text-decoration: none;
}
.link-entry:hover,.link-entry:focus,.link-entry:active{
  text-decoration: none;
}
.link-entry:hover{
  text-decoration: none;
      background: #378aa0;
          color: #fff;
}
.link-entry span{
  margin-left: 35px;
line-height: normal;
    float: right;
    margin-top: 3px;

}
.fa-long-arrow-right:before {
    content: "\f178";
  }
  .link-entry::after{
        background: rgba(0,0,0,0.1);
        width: 40px;
height: 100%;
z-index: 1;
right: 0;
top: 0;
margin: 0;
z-index: -1;
content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3
    -webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
transition: all 0.3s linear;
  }
