.slide-contact {

    width: 100%;

}
.main-tittle{
      background: url("../img/1 (2).jpg") center center repeat;
      padding-top: 172px;
position: relative;
float: right;
width: 100%;
margin: 0px 0px 100px;
    padding-bottom: 50px;
clear: both;
/*background: rgba(0,0,0,0.05);*/
    display: block;
}
.main-tittle::before{
      background: rgba(240,235,216,0.85);
      position: absolute;
content: "";
display: block;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.breadcrumb{
  clear: both;
float: left;
width: 100%;
margin: 0px;
padding: 0px;
font-size: 13px;
font-weight: 500;
color: rgba(0,0,0,0.6);
position: relative;
background-color:  rgba(238, 236, 219, 0);
}
.breadcrumb::before{
  display: block;
content: "";
position: absolute;
top: -46px;
height: 1px;
width: 100%;
background: #fff;
}
.breadcrumb a {
    color: #000;
    text-decoration: none;
}
.breadcrumb .fa.default {
    display: inline-block;
    height: 14px;
    width: 1px;
    -webkit-transform: rotate(30deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(30deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(30deg);
    transform-origin: 0 0;
    transform: rotate(30deg);
    background: #000;
    top: 3px;
    position: relative;
    margin: 0px 5px 0px 10px;
}
.breadcrumb span.current {
    color: rgba(0,0,0,0.5);
}
.main-tittle-section{
  float: right  ;
width: 100%;
margin: 0px;
padding: 0px;
position: relative;
}
.main-tittle-section h1 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 0;
}


.location-div {
    text-align: center;
}

.location-div h3 {
    font-weight: 200;
    width: 100%;
}

.empty-space {
    clear: both;
    float: none;
    height: 95px;
}

.line {
    width: 51px;
    height: 3px;
    display: inline-block;
    clear: both;
    text-align: center;
    margin: 0 0 12px;
    background: #89cddf;
}

.div-inner-map {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-contact {
    width: 100%;
    min-height: 600px;
    order: 2;
}

.form-contact {
    width: 50%;
    background-color: #ffffff;
    min-height: 600px;
    position: absolute;
    background: rgba(240, 248, 255, 0.83);
    /* top: 0px; */
    order: 1;
}

.inner-input {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.wp-inner {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.span-input {
    float: right;
    width: 100%;
    margin-bottom: 28px;
}

.span-input input, .span-input textarea {
    border: 1px solid;
    padding: 21px 50px 21px 15px;
    height: 60px;
    display: block;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.span-input textarea {
    border: 1px solid;
    padding: 21px 50px 21px 15px;
    height: 60px;
    display: block;
    margin: 0px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.empty-space-2 {
    clear: both;
    float: none;
    height: 2px;
}

.empty-space-2 span {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.sub-div {
    width: 100%;
}

.sub-div input {
    width: 100%;
    padding: 20px 0;
    text-transform: capitalize;
    border-radius: 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin: 0;
    border: none;
    height: 60px;
    background: #89cddf;
}

.place-div {
    text-align: center;
}

.place-div h3 {
    font-weight: 200;
    width: 100%;
}

.type-div h6 {
    text-transform: uppercase;
    font-size: 16px;
    margin: 10px 0px;
    width: 100%;
    float: left;
    color: #b5ad8f;
    font-weight: 300;
}

.type-div span {
    color: #b5ad8f;
    float: left;
    position: relative;
    width: 100%;
    font-size: 30px;
    margin: 14px 0 4px;
    line-height: normal;
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
    -ms-transform: none;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.type-div {
    float: left;
    margin: 0px;
    padding: 0px;
    clear: both;
    width: 100%;
    line-height: 28px;
    position: relative;
    text-align: center;
    margin: 33px 0;
}

.place-div h2 {
    margin-bottom: 30px;
    font-weight: 200;
}

.place-div p {
    margin: 0px;
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.work-time {
  background-color: #000;
  min-height: 500px;
}
.final-div::before{
  content: " ";
display: table;
}
.final-div{
  border-right-width: 2px !important;
border-bottom-width: 2px !important;
border-left-width: 2px !important;
padding-right: 0px !important;
padding-left: 0px !important;
border-left-color: #ffffff !important;
border-left-style: solid !important;
border-right-color: #ffffff !important;
border-right-style: solid !important;
border-bottom-color: #ffffff !important;
border-bottom-style: solid !important;
padding-top: 0;
box-sizing: border-box;
width: 100%;
}
.four-div{
      z-index: 10 !important;
      padding-left: 0;
padding-right: 0;
    float: left;
    position: relative;
min-height: 1px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.theird-div{
  background: transparent;
border: 0;
font-size: 100%;
margin: 0;
outline: 0;
box-sizing: border-box;
padding: 0;
vertical-align: baseline;
}
.content-work{
      margin-top: -13px !important;
      margin-left: auto;
margin-right: auto;
display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
        margin-bottom: 35px;
        background: transparent;
border: 0;
font-size: 100%;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
}
.content-work::before {
    content: " ";
    display: table;
}
.content-work h4{
      padding: 0 .8em;
      line-height: 1em;
margin: 0;
word-wrap: break-word;
-webkit-box-flex: 0;
-webkit-flex: 0 1 auto;
-ms-flex: 0 1 auto;
flex: 0 1 auto;
color: #fff;
 font-size: 24px;
font-weight: 200;
}

.separator-l {
    height: 1px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 10%;
}

.sep-span {
    border-top-width: 2px;
    border-color: #EBEBEB;
    height: 1px;
    border-top: 1px solid #EBEBEB;
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
    border-top-width: 2px;
}

.work-design h4 {
    padding: 0 .8em;
    font-weight: 200;
    font-size: 19px;
    letter-spacing: 0.5px;
    line-height: 1em;
    margin: 0;
    word-wrap: break-word;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    color: #fff;
}

.separator-r {
    height: 1px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 10%;
}
.empty-space-3{
  clear: both;
float: none;
height: 29px;
background: transparent;
border: 0;
font-size: 100%;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
}

.type-3 {
    margin: 0px;
    padding: 0px;
    clear: both;
    width: 100%;
    line-height: 28px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    padding: 0 0 27px;
}

.type-3 h6 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 200;
    width: 100%;
}

.type-3 h3 {
    position: relative;
    z-index: 1;
    font-weight: 200;
    margin-bottom: 3px;
    color: #fff;
        direction: ltr;
}
.buttum-inner{
      margin-top: 39px !important;
      margin-bottom: 35px;
      background: transparent;
border: 0;
font-size: 100%;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
}
.text-app{
  text-align: center;
  background: transparent;
border: 0;
font-size: 100%;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
    margin-bottom: 0;
}
.text-app a{
      margin-bottom: 0;
      font-size: 18px;
    padding: 18px 40px;
        background: #89cddf;
        color: #fff;
        font-size: 12px;
text-transform: inherit;
line-height: normal;
display: inline-block;
margin: 10px 0px 0px;
cursor: pointer;
outline: none;
position: relative;
z-index: 1;
text-decoration: none;
font-size: 22px;
}
.panel-group{
  margin-bottom: 0px;
}
@media screen and (max-width:920px) {
.four-div{
  float: none;
}
}

input.is-danger, select.is-danger, textarea.is-danger{
    border: 1px solid red;
}

.help{
  color: red;
}
  
