
.main-tittle{
      background:url("../img/1 (3).jpg") center center repeat;
      padding-top: 172px;
position: relative;
float: right;
width: 100%;
margin: 0px 0px 100px;
    padding-bottom: 50px;
clear: both;
/*background: rgba(0,0,0,0.05);*/
    display: block;
}
.main-tittle::before{
      background: rgba(240,235,216,0.85);
      position: absolute;
content: "";
display: block;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.breadcrumb{
  clear: both;
float: left;
width: 100%;
margin: 0px;
padding: 0px;
font-size: 13px;
font-weight: 500;
color: rgba(0,0,0,0.6);
position: relative;
background-color:rgba(238, 236, 219, 0);
}
.breadcrumb::before{
  display: block;
content: "";
position: absolute;
top: -46px;
height: 1px;
width: 100%;
background: #fff;
}
.breadcrumb a {
    color: #000;
    text-decoration: none;
}
.breadcrumb .fa.default {
    display: inline-block;
    height: 14px;
    width: 1px;
    -webkit-transform: rotate(30deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(30deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(30deg);
    transform-origin: 0 0;
    transform: rotate(30deg);
    background: #000;
    top: 3px;
    position: relative;
    margin: 0px 5px 0px 10px;
}
.breadcrumb span.current {
    color: rgba(0,0,0,0.5);
}
.main-tittle-section{
  float: right  ;
width: 100%;
margin: 0px;
padding: 0px;
position: relative;
}
.main-tittle-section h1 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 0;
}

#photos {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-count: 3;
   -webkit-column-gap:   0px;
   -moz-column-count:    3;
   -moz-column-gap:      0px;
   column-count:         3;
   column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  /*padding:10px 10px;*/
}
.slide-gallery{

width: 100%;

}
.gallery{
  margin-bottom: 30px;
}
.pad-gallery{
  padding: 10px;
}
.image-hover{
  width: 100%;
  position: relative;

          transition: .5s ease;
}
.image-hover:hover{
  transition: .5s ease;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0px;
    background-color: rgba(67, 199, 243, 0.55);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.image-hover:hover .overlay {
    height: 51px;
}

.text-hover {
  text-align: center;
      line-height: 40px;
      color: #fff;
font-size: 19px;
}




.lightbox {}
.lightbox__thumbnail {}
.lightbox__thumbnail img {}
.lightbox__close {}
.lightbox__arrow--invisible {}
.lightbox__element {}
.lightbox__arrow {}
.lightbox__arrow svg {}
.lightbox__image {}
.lightbox__image img {}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
