body{
  padding: 0px;
}
.main-container {
    padding: 10px 15px;
}

.skyblue {
    background-color: rgb(241, 232, 212);
}

.deepskyblue {
    background-color: rgb(241, 232, 212);
}

.darkerskyblue {
    background-color: rgb(241, 232, 212);
}

/*.carousel-indicators {
    bottom: 0;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    top: 50%;
}

.carousel-control.right span, .carousel-control.left span {
    background-color: #fff;
    padding: 23px;
}

.carousel .item {
    min-height: 550px;
    height: 100%;
    width: 100%;
}

.carousel-caption h3, .carousel .icon-container, .carousel-caption button {
    background-color: #09c;
}

.carousel-caption h3 {
    padding: .5em;
}

.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}

.carousel-caption button {
    border-color: #00bfff;
    margin-top: 1em;
}

.carousel-caption img {}

.carousel-caption .img3 {
    animation-delay: 1s;
    width: 73%;
    top: -204px;
    left: 0px;
}

.carousel-caption .img4 {
    animation-delay: 2s;
    width: 93%;
    padding: 10px;
    position: absolute;
    top: -62px;
    left: -217px;
}

.carousel-caption .img1 {
    width: 26%;
    top: -298px;
    right: -4px;
    animation-delay: 1s;
    position: absolute;
}

.carousel-caption .img2 {
    width: 50%;
    position: absolute;
    animation-delay: 2s;
    left: -50px;
    top: -154px;
}


/* Animation delays */

/*.carousel-caption h3:first-child {
    animation-delay: 1s;
}

.carousel-caption h3:nth-child(2) {
    animation-delay: 2s;
}

.carousel-caption button {
    animation-delay: 3s;
}*/
.carousel-control.right, .carousel-control.left{
  background: none;
}
.car-image{
  width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.p {
    padding-top: 125px;
    text-align: center;
}

.p a {
    text-decoration: underline;
}

.no-paddingg {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.service {
    text-align: center;
    margin-top: 20px;
}

.line {
    width: 51px;
    height: 3px;
    display: inline-block;
    clear: both;
    text-align: center;
    margin: 0 0 12px;
    background: #89cddf;
}

.service h3 {
    width: 100%;
    margin-bottom: 25px;
    font-weight: 200;
}

.box {
    text-align: center;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    padding: 40px 20px;
    margin: 0px -1px 0px 0px;
    float: left;
    overflow: hidden;
    transition: .6s;
    min-width: 100%;
min-height: 506px;
}

.photo img {
    border-radius: 50%;
    border: 1px solid #e0dcdc;
}

.content-box {
    margin-top: 35px;
}

.content-box h4 {
    font-weight: 300;
    margin-bottom: 18px;
}

.content-box p {
    line-height: 25px;
}

.box:hover {
    box-shadow: 0px 0px 12px 8px #f3ecec;
}
.box:hover .photo img{
  border:2px solid #89cddf;
      transition: .6s;
}
.box:hover .content-box h4{
  color: #89cddf;
  transition: .6s;
}
.appointment {
    width: 100%;
    background-color: #d9af99;
    min-height: 922px;
    margin-top: 100px;
}

.photo-png {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 100%;
}

.png-photo {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    position: absolute;
    top: -56px;
    left: 0px;
}

.empty-space {
    clear: both;
    float: none;
    height: 61px;
}

.appointment .line {
    background-color: #fff;
    width: 51px;
    height: 3px;
    display: inline-block;
    clear: both;
    text-align: center;
    margin: 0 29px 12px;
    float: right;
}

.appointment h2 {
  color: #fff;
  font-weight: 400;
  margin-right: 30px;
  margin-bottom: 32px;
}

.inner-input {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.wp-inner {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.span-input {
    float: right;
    width: 100%;
    margin-bottom: 28px;
}

.span-input input {
    padding: 21px 50px 21px 15px;
    height: 60px;
    display: block;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 0px;
}
.span-input textarea{
  padding: 21px 50px 21px 15px;
height: 85px;
display: block;
margin: 0px;
width: 100%;
box-sizing: border-box;
-webkit-appearance: none;
-webkit-border-radius: 0;
border: 0px;
}

.empty-space-2 {
    clear: both;
    float: none;
    height: 2px;
}

.empty-space-2 span {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.span-input select {
    background: #fff;
    text-transform: capitalize;
    border: none;
    border: 1px solid #fff;
    outline: none;
    width: 100%;
    margin: 0px;
    padding: 21px 50px 21px 15px;
    height: 60px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-border-radius: 0px;
}

.span-input select option {
    padding: 6px 6px 6px 18px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.select-div {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    position: relative;
    clear: both;
}

.select-div::before {
    z-index: 1;
    left: 23px;
    top: 5px;
    bottom: 0px;
    height: 0px;
    margin: auto;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid;
    border-top-color: #fff;
}

.select-div:before, .select-div:after {
    content: "";
    pointer-events: none;
    position: absolute;
}

.select-div:after {
    background: #89cddf;
    width: 60px;
    height: 60px;
    left: 0px;
    top: 0;
}

.partners {
    text-align: center;
    margin-top: 20px;
}

.partners h3 {
    width: 100%;
    margin-bottom: 25px;
    font-weight: 200;
}

.owl-png {
    width: 100%;
    margin: 0px;
    padding: 20px;
}

.left-div {
    padding-left: 0px;
}

.right-div {
    padding-right: 0px;
}

.sub-div {
    width: 100%;
}

.sub-div input {
    width: 100%;
    padding: 20px 0;
    text-transform: capitalize;
    border-radius: 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin: 0;
    border: none;
    height: 60px;
    background: #89cddf;
}

.know {
    background-color: #f0ebd8;
}

.more-know {
    padding: 100px 0 100px 50px;
    position: relative;
}

.more-know-inner {
    width: 90%;
}

.text-know {
    margin-bottom: 35px;
}

.inner-text {
    width: 90%;
}

.know h2 {
    font-weight: 200;
}

.inhert-div {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.tittle-know {
    position: relative;
    margin: 0px 0px 10px;
    clear: both;
    font-size: 18px;
    font-weight: normal;
}

.tittle-know {
    text-transform: inherit;
}

.tittle-know a {
    line-height: 36px;
    padding: 0px 50px 0px 0px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    color: #b5ad8f;
}

.tittle-know a:hover, .tittle-know a:active, .tittle-know a:focus {
    color: #b5ad8f;
    text-decoration: none;
}

.tittle-know a::before {
    width: 2px;
    height: 16px;
    right: 17px;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    border: 1px solid #b5ad8f;
}

.tittle-know::before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 35px;
    height: 100%;
    background: none;
    border: 1px solid #b5ad8f;
}

.tittle-know a::after {
    height: 2px;
    width: 16px;
    right: 10px;
    /*background: #89cddf;*/
    background: #b5ad8f;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

.content-know {
    clear: both;
    padding: 15px 50px 25px 0px;
    margin: 0px;
    /*display: none; */
    box-sizing: border-box;
}

.block {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.content-bot {
    margin-bottom: 35px;
}

.content-left {
    width: 90%;
}

.open .tittle-know a {
    color: #89cddf;
}

.open .tittle-know a::before {
    border: none;
}

.open .tittle-know a::after {
    background-color: #89cddf;
}

.open .tittle-know::before {
    border: 1px solid #89cddf;
}
.close .tittle-know a {
    line-height: 36px;
    padding: 0px 50px 0px 0px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    color: #b5ad8f;
}
.close .tittle-know a::before {
    width: 2px;
    height: 16px;
    right: 17px;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    border: 1px solid #b5ad8f;
}

.close .tittle-know::before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 35px;
    height: 100%;
    background: none;
    border: 1px solid #b5ad8f;
}

.close .tittle-know a::after {
    height: 2px;
    width: 16px;
    right: 10px;
    /*background: #89cddf;*/
    background: #b5ad8f;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

.statistics {
    background-image: url(../img/bild.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 460px;
}

.nothing {
    width: 100%;
}

.statistics .line {
    background: #fff;
}

.statistics h3 {
    width: 100%;
    margin-bottom: 25px;
    font-weight: 200;
    color: #fff;
}

.counter-value {
    font-size: 60px;
    font-weight: lighter;
    float: left;
    width: 100%;
    line-height: normal;
    color: #89cddf;
}

.number-s {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    margin: 0px auto;
    display: inline-block;
    float: none;
    padding: 0px 70px;
    border-color: rgba(0, 0, 0, 0.1);
}

.inner-numb {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.icon-numb {
    position: relative;
    background: none;
    float: left;
    width: 100%;
    border-color: #fff;
    color: #fff;
}
.icon-numb span{
  line-height: normal;
font-size: 24px;
margin: 8px 0;
}

.icon-numb::before {
    position: absolute;
    border-top: 1px dashed;
    content: "";
    display: block;
    left: 0;
    width: 38%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    border-color: #fff;
}

.icon-numb::after {
    position: absolute;
    border-top: 1px dashed;
    content: "";
    display: block;
    right: 0;
    width: 38%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    border-color: #fff;
}

.fa-user-md:before {
    content: "\f0f0";
}

.inner-numb h4 {
    font-size: 24px;
    font-weight: 200;
    margin: 10px 0px 0px;
    text-transform: capitalize;
    padding: 0px 0px 40px;
    color: #fff;
    padding-left: 70px;
    padding-right: 70px;
}
.panel-info>.panel-heading {
color: #31708f;
background-color: #f0ebd8;
border-color: #f0ebd8;
border: 0px;
}

.panel-info {
    border-color: #f0ebd8;
    border: 0px;
}
.panel-info>.panel-heading+.panel-collapse>.panel-body {
    /* border-top-color: #bce8f1; */
    border: 0px;
    background-color: #f0ebd8;
}
.panel-group .panel+.panel{
  margin-top: 0px;
}
.panel{
  box-shadow: none;
}

.click-me .panel-collapse .tittle-know{
  color: red;
}
.text-doctor{
  justify-content: center;
    padding: 30px 50px;

}
.img-doc{
  text-align: center;
}
.img-doc img{
      width: 73%;
}
.doctors{
  text-align: center;
margin-top: 20px;
}
.doctors h3{
  width: 100%;
margin-bottom: 25px;
font-weight: 200;
}
.name-doctor{
  background: #f0ebd8;
  text-align: center;
  padding-bottom: 155px;
  padding-top: 122px;
  padding-right: 30px;
  padding-left: 30px;

}
.name-doctor h2{
    font-weight: 200;
    padding-top: 50px;
        font-size: 42px;
}
.name-doctor p{
  color: #999;
padding-bottom: 74px;
}
.name-doctor h5{
  font-weight: 200;
line-height: 31px;
    font-size: 19px;x
}
.device{
  text-align: center;
  margin-top: 20px;
}
.device h3{
  width: 100%;
margin-bottom: 25px;
font-weight: 200;
}
.img-dev{
  text-align: center;
}
.img-dev img{
  width: 50%;
}
.text-device{
  justify-content: center;
    padding: 30px 27px;

}
.name-device{
  padding: 95px 10px;
  text-align: center;
  background: #f0ebd8;
}
.name-device h4{
  font-weight: 200;
  font-size: 35px;
}
.name-device h2{
  font-weight: 300;
  margin-top: 10px;
  font-size: 43px;
  padding-bottom: 77px;
}
.name-device h5{
  padding-top: 76px;
  line-height: 34px;
  font-weight: 200;
  font-size: 21px;
  text-align: center;
}
.line-dev{
  height: 2px;
    width: 65%;
    background-color: #99c0f3;
    clear: both;
    margin: auto;
}
.main-container  .swiper-container-rtl .swiper-button-next{
  background-image: url(../img/left.png);
      background-size: contain;
}
.main-container .swiper-container-rtl .swiper-button-prev {
      background-size: contain;
    background-image: url(../img/right.png);
}
.span-input select{
  padding: 21px 50px 16px 15px;
}
input.is-danger, select.is-danger, textarea.is-danger{
    border: 1px solid red;
}

.help{
  color: red;
}
@media screen and ( max-width:1068px ) {
  .box{
    min-height: 545px;
    padding: 40px 10px;
  }

}
@media screen and (max-width:992px) {
  .name-device {
      padding: 42px 10px;
    }
    .name-device h4{
          font-size: 29px;
    }
    .name-device h2{
      font-size: 31px;
padding-bottom: 58px;
    }
    .name-device h5{
          padding-top: 67px;
          font-size: 16px;

    }
}
@media screen and (max-width:768px) {
    .photo-hide {
        display: none: ;
    }
    .photo-png {
        display: none;
    }
}
@media screen and (max-width:500px) {
  .name-device {
      padding: 42px 10px;
    }
    .name-device h4{
          font-size: 20px;
    }
    .name-device h2{
      font-size: 25px;
      padding-bottom: 49px;
    }
    .name-device h5{
    padding-top: 45px;
        font-size: 14px;

    }
}
