.slide-contact {
    width: 100%;
}

.main-tittle {
    background: url("../img/1 (3).jpg") center center repeat;
    padding-top: 172px;
    position: relative;
    float: right;
    width: 100%;
    margin: 0px 0px 100px;
    padding-bottom: 50px;
    clear: both;
    /*background: rgba(0,0,0,0.05);*/
    display: block;
}

.main-tittle::before {
    background: rgba(240, 235, 216, 0.85);
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.breadcrumb {
    clear: both;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    background-color: rgba(238, 236, 219, 0);
}

.breadcrumb::before {
    display: block;
    content: "";
    position: absolute;
    top: -46px;
    height: 1px;
    width: 100%;
    background: #fff;
}

.breadcrumb a {
    color: #000;
    text-decoration: none;
}

.breadcrumb .fa.default {
    display: inline-block;
    height: 14px;
    width: 1px;
    -webkit-transform: rotate(30deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(30deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(30deg);
    transform-origin: 0 0;
    transform: rotate(30deg);
    background: #000;
    top: 3px;
    position: relative;
    margin: 0px 5px 0px 10px;
}

.breadcrumb span.current {
    color: rgba(0, 0, 0, 0.5);
}

.main-tittle-section {
    float: right;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.main-tittle-section h1 {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 0;
}

.content-full-width {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    margin-bottom: 70px;
    width: 100%;
    margin: 0px;
    padding: 0px 0px 0px;
    float: left;
    position: relative;
    margin-bottom: 30px;
}

.blog-entry {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: block;
    vertical-align: baseline;
    background: transparent;
    text-align: left;
    border: none;
    float: left;
    clear: both;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.blog-entry .entry-thumb {
    background: transparent;
    border: 0;
    font-size: 100%;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    float: left;
    margin: 0px;
    width: 100%;
    position: relative;
    line-height: 0px;
}

.entry-thumb a {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    color: #89cddf;
    text-decoration: none;
}

.blog-entry .entry-thumb img {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    max-width: 100%;
    height: auto;
    border: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.entry-details {
    clear: both;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0 0;
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    text-align: center;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.entry-tittle {
    padding: 0 20px;
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    text-align: right;
    margin-top: 18px;
    padding: 0;
    vertical-align: baseline;
}

.entry-tittle h4 {
    font-size: 16px;
    text-transform: inherit;
    margin-bottom: 10px;
    font-weight: bold;
}

.entry-tittle a {
    color: #89cddf;
    text-decoration: none;
}

.entry-body {
    text-align: right;
    margin: 10px 0px 5px;
    float: left;
    clear: both;
    width: 100%;
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    vertical-align: baseline;
}

.entry-body p {
    margin-bottom: 10px;
    background: transparent;
    border: 0;
    line-height: 30px;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.wt-hr{
  background: transparent;
border: 0;
font-size: 100%;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
}
.wt-clear{
  background: transparent;
border: 0;
font-size: 100%;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
  float: none;
    clear: both;
    margin: 0px;
    padding: 0px;
}
.related-post{
  background: transparent;
border: 0;
font-size: 100%;
margin: 0;
    margin-top: 45px;
outline: 0;
padding: 0;
vertical-align: baseline;
    display: block;
}
section.related-post h4 {
    font-weight: bold;
    text-transform: capitalize;
}
.related-post .blog-entry {
    float: left;
    clear: both;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    border: 1px solid;
        border-color: #89cddf;
        margin-bottom: 25px;
}
.related-post .entry-tittle{
  text-align: center;
  font-size: 14px;

}
.related-post .no-pad-right{
  padding-right: 0px;
}
.commententries {
    width: 100%;
    float: left;
    margin: 40px 0px 0px;
    padding: 0px;
}
.comments-area{
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.comment-respond{
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
      clear: both;
}
.comment-reply{
  font-weight: 600;
margin-bottom: 30px;
text-transform: capitalize;
    font-size: 18px;
}
.one-half {
  margin: 0px 0px 0px 2%;
float: right;
min-height: 1px;
position: relative;
box-sizing: border-box;
  background: transparent;
border: 0;
font-size: 100%;
margin: 0;
width: 49%;
outline: 0;
padding: 0;
vertical-align: baseline;

}
.first{
  float: left;
  margin-left: 0px;
    clear: both;
}
.one-half p{
  margin-bottom: 10px;
}
.one-half input{
  border: 1px solid;
    padding: 21px 50px 21px 15px;
    height: 60px;
    display: block;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
        color: #333333;
            background: #fff;
            border-color: #f0ebd8;
}
.one-half textarea {
    border: 1px solid;
    padding: 21px 50px 21px 15px;
    line-height: normal;
    width: 100%;
    float: left;
    color: #333333;
background: #fff;
    height: 135px;
        border-color: #f0ebd8;
}
.form-submit {
    margin: 10px 0 15px;
    float: left;
    width: 100%;
}
.form-submit input{
  border: none;
text-transform: uppercase;
font-weight: bold;
margin: 10px 0px 0px;
font-size: 14px;
padding: 11px 20px;
height: 60px;
float: left;
cursor: pointer;
-webkit-appearance: none;
-webkit-border-radius: 0;
    color: #fff;
        background: #89cddf;
        border-radius: 0;
}
.commententries h3 {
    font-size: 20px;
}
ul.commentlist {
    float: left;
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 20px 0px;
    list-style: none;
    border-top: 0px;
    width: 100%;
}
ul.commentlist li {
    display: block;
    float: none;
    list-style: none;
    border: none;
    margin: 0px 0px 30px;
    padding: 0px 0px 0px 110px;
    position: relative;
    clear: both;
}
.comment{
  display: block;
}
.comment-details{
  position: relative;
padding: 0px 0px 10px;
margin: 10px 0px 10px;
    display: block;
}
ul.commentlist li .comment-details:before {
    bottom: 0px;
    content: '';
    left: 0px;
    position: absolute;
    width: 100%;
}
ul.commentlist li .author-name > a {
    font-size: 18px;
    color: #000;
}
ul.commentlist li .author-name span {
    font-size: 14px;
    color: #aaaaaa;
}
ul.commentlist li .comment-body {
    margin: 10px 0px 0px;
}
ul.commentlist li .comment-body p {
    line-height: 28px;
}
input.is-danger, select.is-danger, textarea.is-danger{
    border: 1px solid red;
}

.help{
  color: red;
}
